body, html{
  width: 100%;
  height:100%;
  font-family: Helvetica, sans-serif;

}
body{
  margin: 0;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;

}
.topbar a {
  padding: 0 12px;
}

.topbar div {
  padding-top: 7px;
}
.topbar{
  font-size: 15px;
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

.movingDancer {
  position:absolute;
  width: 300px;
  height: 200px;
}

.movingDancer img {
  padding-left:65px;
  padding-top: 55px;
}

.pull-left {
  float:left;
}

.pull-right {
  float:right;
}

.directions {
  width: 300px;
  height: 100px;
  background-color: #444;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -100px;
}

.directions div {
  position: absolute;
  top: 30px;
  width: 100%;
  text-align: center;
  font-size: 35px;
}
